.label {
  height: 50px;
  width: 100px;
}

.navbar {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #d5f1f2;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.badge {
  padding: 1rem 1.5rem;
  margin-left: 0.3rem;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.col-md-3 {
  padding: 0px;
}

.card {
  width: 100%;
  height: 100%;
}

.card-body {
  display: flex;
  padding: 0;
  margin-bottom: 1rem;
}

.card-text {
  height: 50px;
  margin-top: 0.5rem;
}

.left-section {
  width: 100%;
  height: 100%;
  font-size: 17px;
  padding-left: 0.5rem;
  overflow: hidden;
}

.right-section {
  font-size: 30px;
  padding-right: 0.5rem;
  margin: auto;
  font-weight: bold;
}

@media (min-width: 411px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
